*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding:0  50px;
}
p{
    color: rgb(117, 117, 117);
    line-height: 2em;
}

/* Main Css */
#header{
    max-width: 1400px;
    margin: auto;
    padding:30px 0;
    margin-top: 20px;
    
}

#header h3{
    font-size: 24px;
}
.influencer-heading-items{
    display: flex;
}
.content{
    width: 50%;
    margin: auto 0;
}
.content h1{
    font-size: 55px;
    font-weight: 700;
}
.content-btn button{
    padding:13px  25px;
    font-size: 16px;
    font-weight:800 ;
    border-radius: 30px;
    margin-top: 30px;
    background:#f07d02;
    color: #fff;
    border: none;
}
.content-btn span{
    margin-left: 10px;
    font-size: 16px;
}
.content-img{
    background-image: url(image/img/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 60%;
    text-align: right;
    padding: 80px 0;
  
}
.influencer-heading-items img{
    transition: .5s;
}
.influencer-heading-items:hover img{
    transform: scale(1.2);
}


/* popular collection css */
#Collection{
    margin-top: 120px;
}
#Collection .container h2{
   text-align: center;
   font-size: 40px;
   margin-bottom: 50px;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.popular-item{
    padding:15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.popular-item-img img{
    width: 100%;
    
    
}
.popular-item-content h3{
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
}
.popular-item-content h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}
.content-icon i{
    color: #FB8200;
}
.content-icon span{
    margin-left: 10px;
    font-weight: 600;
}
.popular-item-content p{
    line-height: normal;
    margin: 15px 0;
}
.see-more{
    text-align: right;
    margin-top: 50px;
}
.see-more a{
    text-decoration: none;
    color:
    #E02C6D
     ;
     font-size: 18px;
     font-weight: 600;
     
}


/* our influencere Css */

#our-influencer{
    margin: 60px 0px;

}
#our-influencer .container h2{
    font-size: 40px;
    text-align: center;
    margin: 40px;
}
#our-influencer h2 span{
   color: #FB8200;
}
.influencer-persons{
    display: flex;
    justify-content: space-between;
}
.influencer-person-details{
    overflow: hidden;
    padding: 20px 0;
    cursor: pointer;
}
.influencer-person-details h3{
    margin-top: 20px;
}
.influencer-person-img{
    overflow: hidden;
    height: 350px;
}
.influencer-person-img img{
    width: 100%;
    
    transition: .5s;
}

.influencer-person-details span{
    color: #FB8200;
    font-weight: 600;
}
.influencer-person-details:hover img{
    transform: scale(1.3);
}

/* Influencer rating */
#influencer-rating{
    margin-bottom: 80px;
}
.influencer-ratings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.influencer-feedback span{
    font-size: 70px;
    font-weight: 700;
    color: #FB8200;
}
.influencer-feedback h1{
    font-size: 60px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}
.influencer-feedback p{
    font-size: 20px;
}

#influencer-footer{
    background-color:#0A0826 ;
    padding: 50px 0;
}
.influencer-footer-content{
    text-align: center;
}
.influencer-footer-content h2{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    
}
.influencer-footer-content p{
    line-height: normal;
    color: #D9DBE1;
    
}
.influencer-footer-content span i{
    padding: 10px 10px;
    font-size: 20px;
    color: #FB8200;
    cursor: pointer;
    margin-top: 15px;
    
}

@media only screen and (max-width: 820px) {
    #header h3 {
        font-size: 30px;
        text-align: center;
    }
    .influencer-heading-items {
        display: grid;
    }
    .content {
        width: 100%;
        padding: 40px;
    }
    p {
        padding-right: 110px;
    }
    .content-img {
        background-position: center;
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }
    .popular-item-content p {
        padding-right: 0px;
    }
  }